websites/resources
test.py
websites/investor.csv
test/js_test.py
backup/
__pycache__/
.vscode
version_1/
version_2/
resources
*.csv
sample_csv/
websites_csv/
dask-worker-space/
dist/
websites_8.egg-info/
.idea
proxy_client
proxy_server